* {
  box-sizing: border-box;
}

html {
  // height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  // height: 100%;
  // margin: 0;
  // padding: 0;
  min-width: 320px;
  // height: 100%;
  margin: 0 auto;
  font-family: $font;
  font-size: 14px;
  font-weight: $regular;
  color: $first-color;
  background-color: #25252e;
  background-image: url("../img/main-bg@desktop1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  overflow-x: hidden;
  word-wrap: break-word;
  @include pixel-ratio(double) {
    background-image: url("../img/main-bg@desktop2x.jpg");
  }

  @include media-md {
    background-image: url("../img/main-bg@tablet1x.jpg");
    background-size: cover;
    @include pixel-ratio(double) {
      background-image: url("../img/main-bg@tablet2x.jpg");
    }
  }

  @include media-xs {
    background-image: url("../img/main-bg@mobile1x.jpg");
    background-size: cover;
    @include pixel-ratio(double) {
      background-image: url("../img/main-bg@mobile2x.jpg");
    }
  }
}

main {
  flex: 1 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  outline: 0;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0 30px;
  @include media-xl {
    width: 100%;
    padding: 0 15px;
  }
}

.btn-common {
  display: block;
  width: 180px;
  padding: 14.5px 0;
  font-size: 12px;
  line-height: 14px;
  color: $first-color;
  text-transform: uppercase;
  border-radius: 30px;
  transition: color 0.3s;
}

.burger-menu__btn {
  display: block;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  span {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: $fourth-color;
    transition: background-color 0.3s;
    &:not(:last-child) {
      margin-right: 1px;
    }

    &:first-child,
    &:last-child {
      &:after {
        content: "";
        position: absolute;
        top: -5px;
        display: block;
        width: 5px;
        height: 5px;
        background-color: $fifth-color;
        transition: background-color 0.3s;
      }
    }

    &:first-child {
      &:after {
        right: -4px;
      }
    }

    &:last-child {
      &:after {
        right: 4px;
      }
    }
  }

  &:hover,
  &:focus {
    span {
      background-color: $fifth-color;
      &:first-child,
      &:last-child {
        &:after {
          background-color: $fourth-color;
        }
      }
    }
  }

  @include media-md {
    position: absolute;
    top: 23px;
    right: 0;
    z-index: 1;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-open {
  height: 100vh;
  overflow: hidden;
}

.popup-overlay {
  display: none;
  &--open {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
