/* Colors */
$first-color: #f8f8f8;
$second-color: #010101;
$third-color: #25252e;
$fourth-color: #FEA540;
$fifth-color: #F7CD70;
$sixth-color: #111111;
$seventh-color: #cccccc;
$eighth-color: #515160;
$ninth-color: #1e1d20;
$tenth-color: #2D2D36;
$eleventh-color: #3d3d49;
$twelfth-color: #262731;
$thirteenth-color: #a8a8a8;

/* Fonts */
$font: "Roboto", "Arial", sans-serif;
$regular: 400;
$bold: 700;

/* Media */

$media-xl: 1200px;
$media-lg: 990px;
$media-md: 768px;
$media-sm: 576px;
$media-xs: 480px;
