@import "general/variables.scss";
@import "general/mixins.scss";

.card-tariff {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  max-width: 280px;
  padding: 37px 0 96px;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
  border: 1px solid $eighth-color;
  border-radius: 15px;
  transition: 0.3s;
  &:nth-child(2) {
    .card-tariff__title {
      padding-left: 29px;
      svg {
        left: 0;
      }
    }

    .card-tariff__content {
      padding-right: 24px;
    }
  }

  &:nth-child(3) {
    margin-right: 0;
    .card-tariff__title {
      padding-left: 20px;
      svg {
        left: -10px;
      }
    }

    .card-tariff__content {
      padding-right: 24px;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 7px $eighth-color;
  }

  @media (max-width: 900px) {
    width: 40%;
    max-width: 40%;
  }

  @include media-md {
    min-width: 280px;
  }

  @include media-sm {
    padding-bottom: 89px;
  }

  @include media-xs {
    margin-bottom: 15px;
  }
}

.card-tariff__title {
  position: relative;
  max-width: 100px;
  margin: 0;
  margin-bottom: 49px;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-align: center;
  svg {
    position: absolute;
    top: 50%;
    left: -26px;
    transform: translateY(-50%);
  }

  @include media-lg {
    font-size: 18px;
  }

  @include media-sm {
    margin-bottom: 70px;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.card-tariff__content {
  display: flex;
  flex-direction: column;
  margin: 0;
  @include media-sm {
    width: 100%;
    align-items: center;
  }
}

.card-tariff__group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 25px;
  font-size: 18px;
  line-height: 21px;
  dt {
    margin-bottom: 15px;
    text-align: right;
  }

  dd {
    padding-left: 20px;
    margin: 0;
    color: $fourth-color;
  }

  @include media-lg {
    font-size: 16px;
    line-height: normal;
  }

  @include media-sm {
    width: 100%;
    padding-left: 0;
    font-size: 14px;
  }
}
