@import "general/variables.scss";
@import "general/mixins.scss";

.logo--footer {
  display: flex;
  align-items: center;
  svg {
    fill: $first-color;
    margin-right: 7px;
  }

  span {
    align-self: flex-end;
  }
}
