@import "general/variables.scss";
@import "general/mixins.scss";

.tariffs-in {
  padding-top: 0;
  margin-bottom: 91px;
}

.tariffs-in__title {
  margin: 0;
  margin-bottom: 56px;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  text-align: center;
}

.tariffs-in__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.tariffs-in__feature {
  width: 100%;
  padding-left: 16px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  span {
    color: $fourth-color;
  }
}
