@import "general/variables.scss";
@import "general/mixins.scss";

.tariffs-from {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  margin-bottom: 86px;
  @include media-sm {
    align-items: center;
    margin-bottom: 50px;
  }
}

.tariffs-from__title {
  margin: 0;
  margin-bottom: 56px;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  text-align: center;
  @include media-xl {
    font-size: 34px;
    line-height: normal;
  }

  @include media-lg {
    font-size: 31px;
  }

  @include media-sm {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.tariffs-from__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 42px;
  @media (max-width: 900px) {
    justify-content: center;
  }

  @include media-sm {
    margin-bottom: 22px;
  }

  @include media-xs {
    margin-bottom: 10px;
  }
}

.tariffs-from__feature {
  width: 100%;
  padding-left: 16px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  span {
    color: $fourth-color;
  }

  @include media-lg {
    font-size: 16px;
    line-height: normal;
  }

  @include media-sm {
    max-width: 90%;
    padding-left: 0;
    font-size: 14px;
  }

  @include media-xs {
    margin: 0;
  }
}
